version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5050:5000"
    volumes:
    - ./backend/orders.json:/app/orders.json

  frontend:
    build: ./frontend
    ports:
      - "8085:80"
    depends_on:
      - backend
