<main class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo.png" alt="Logo" />
      </div>
      <nav class="menu">
        <ul>
          <li>
            <a href="#cars">Our garage</a>
          </li>
          <li>
            <a href="#order">Book</a>
          </li>
        </ul>
      </nav>
      <a href="tel:+358449779493" class="phone">+358 44 977 94 93</a>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <h1>Conquer the road behind the wheel of legendary cars!</h1>
        <p>
          From exclusive sports cars to racing masterpieces — choose your dream,
          take the driver’s seat, and feel the full power of a premium vehicle!
        </p>
        <a href="#cars" class="button" id="main-action-button"
          >View cars</a
        >
      </div>
      <img src="images/main-car.png" alt="Main car" class="main-image" />
    </div>
  </section>

  <div class="black-block"></div>
</main>

<section class="cars" id="cars">
  <div class="container">
    <h2>Choose your car</h2>
    <div class="cars-content" id="cars-content" #carsContent>
      <aside class="cars-filter">
        <ul>
          @for (filter of carsFilter; track $index) {
          <li [class.active]="filter.active" (click)="changeFilter(filter, carsContent)">{{ filter.name }}</li>
          }
        </ul>
      </aside>
      <div class="cars-items">
        @for (car of cars; track car.title) {
        <article class="car">
          <img src="{{ car.image }}" alt="car" />
          <div class="car-details">
            <h4>{{ car.title }}</h4>
            <p>
              {{ car.description }}
            </p>
            <div class="car-action">
              <ul>
                @for (period of ["1 day", "1-3 days", "3+ days"];
                track $index) {
                <li>
                  <div class="car-period">{{ period }}</div>
                  <div class="car-price">
                    {{ car.prices[$index] }} $ @if ($index > 0)
                    {<span>/day</span>}
                  </div>
                </li>
                }
              </ul>
              <a href="#order" class="button white-button" (click)="this.orderForm.get('car')?.setValue(car.title)">Book</a>
            </div>
          </div>
        </article>
        }
      </div>
    </div>
  </div>
</section>

<section class="order" id="order">
  <div class="container">
    <img src="images/order-car.png" alt="Order car" />
    <form [formGroup]="orderForm">
      <h3>Book your car</h3>
      <p>
        Fill in your contact details, and we’ll call you back to discuss the details
        and confirm your reservation.
      </p>
      <div class="order-form">
        <input type="text" placeholder="Car" required readonly id="car" formControlName="car" [class.error]="isError('car')" />
        <input type="text" placeholder="Your name" required id="name" formControlName="name" [class.error]="isError('name')" />
        <input type="text" placeholder="Your phone number" required id="phone" minlength="10" formControlName="phone" [class.error]="isError('phone')" />
        <button class="button" type="button" id="order-action" (click)="sendOrder()" [disabled]="!orderForm.valid">
          Book now
        </button>
      </div>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="images/logo.png" alt="Logo" />
    </div>
    <div class="rights">All rights reserved</div>
  </div>
</footer>
